<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="admin">
	<select id="adminMemberList" resultType="member">
        select*from member
    </select>


    <select id="adminMemberView" resultType="member">
    select *
    from member
    where mem_num =#{mem_num}
    </select>

    <update id="updateMember">
    update member
    set mem_name=#{mem_name},mem_nickname=#{mem_nickname},mem_zipcode=#{mem_zipcode}
    ,mem_address1=#{mem_address1},mem_address2=#{mem_address2}
    where mem_num=#{mem_num}
    </update>
    <select id="memberCount" resultType="int">
    select count(*)
    from member
    </select>

    <!--유저 목록 페이징-->
    <select id="listPage"  parameterType="hashMap" resultType="member">
        SELECT *
        FROM (
                 SELECT rn, mem_num, mem_name, mem_email, mem_address1, mem_join_date
                 FROM (
                          SELECT ROW_NUMBER() OVER (ORDER BY mem_num DESC) AS rn,
                                 mem_num,
                                 mem_name,
                                 mem_email,
                                 mem_address1,
                                 mem_join_date
                          FROM member
        <if test='keyword != "" and searchType != ""'>
            <choose>
                <when test='searchType.equals("mem_name")'>
                    WHERE mem_name LIKE '%' || #{keyword} || '%'
                </when>
                <when test='searchType.equals("mem_email")'>
                    WHERE mem_email LIKE '%' || #{keyword} || '%'
                </when>
                <when test='searchType.equals("all")'>
                    WHERE mem_name LIKE '%' || #{keyword} || '%'
                    or mem_email LIKE '%' || #{keyword} || '%'
                </when>
            </choose>
        </if>
        )
        )
        WHERE rn between ${(pageNum -1) * pageRowCount} +1  and ${(pageNum -1) * pageRowCount} + ${pageRowCount}
    </select>

    <select id="listPageCount" parameterType="hashMap" resultType="Integer">
        SELECT count(*)
        FROM member
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test='keyword != "" and searchType != ""'>
                <choose>
                    <when test='searchType.equals("mem_name")'>
                        AND mem_name LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test='searchType.equals("mem_email")'>
                        AND mem_email LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test='searchType.equals("all")'>
                        AND mem_name LIKE '%' || #{keyword} || '%'
                        or mem_email LIKE '%' || #{keyword} || '%'
                    </when>
                </choose>
            </if>
        </trim>
    </select>

</mapper>














