<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="admin">
	<select id="adminMemberList" resultType="member">
        select*from member
    </select>


    <select id="adminMemberView" resultType="member">
    select *
    from member
    where mem_num =#{mem_num}
    </select>

    <update id="updateMember">
    update member
    set mem_name=#{mem_name},mem_nickname=#{mem_nickname},mem_zipcode=#{mem_zipcode}
    ,mem_address1=#{mem_address1},mem_address2=#{mem_address2}
    where mem_num=#{mem_num}
    </update>
    <select id="memberCount" resultType="int">
    select count(*)
    from member
    </select>

</mapper>














