<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--인터페이스에 대한 SQL 쿼리 및 매핑을 정의합니다-->
<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="com.example.trakker.model.faq.dao.FaqDAO">
    <select id="list" resultType="faqdto">
        select faq_num, faq_subject, content, readcount, faq_reg_date
        from faq
		order by faq_num desc
    </select>

    <insert id="insert">
        insert into faq (faq_num, faq_subject, content)
        values (faq_seq.nextval, #{faq_subject}, #{content})
    </insert>

    <update id="increaseViewcnt">
        update faq
        set readcount=readcount + 1
        where faq_num = #{faq_num}
    </update>

    <select id="view" resultType="faqdto">
        select faq_num, faq_subject, content, readcount, faq_reg_date
        from faq
        where faq_num = #{faq_num}
    </select>

    <update id="update">
        update faq
        set faq_subject=#{faq_subject}, content=#{content}
        where faq_num=#{faq_num}
    </update>
</mapper>














