<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="planner">
    <!--insert-->
    <insert id="insert" parameterType="java.util.List">
        INSERT INTO PLANNER (
            PLAN_NUM, MEM_NUM, L_NUM, TITLE, MEMO, DAYS
        ) VALUES ( (SELECT NVL(MAX(PLAN_NUM), 0) + 1 FROM PLANNER), #{memNum}, #{lnum}, #{title}, #{memo}, #{days} )
    </insert>
    <select id="selectNum" resultType="Long">
        SELECT MAX(PLAN_NUM)
        FROM PLANNER
    </select>

    <!--list-->
    <select id="count" resultType="Long">
        SELECT COUNT(*)
        FROM (
        <include refid="select"/>
            <include refid="join"/>
                <include refid="search"/>
            )
    </select>
    <select id="list" resultMap="planner">
    SELECT X.RN, X.PLAN_NUM, X.L_NUM, X.K_NAME, X.MEM_NUM, X.MEM_NICKNAME, X.TITLE, X.MEMO, X.HC, X.MH
    FROM (
        SELECT ROWNUM AS RN, A.PLAN_NUM, A.L_NUM, A.K_NAME, A.MEM_NUM, A.MEM_NICKNAME, A.TITLE, A.MEMO, A.HC, A.MH
        FROM (
            <include refid="select"/>
            <include refid="join"/>
                <include refid="search"/>
                <include refid="sort"/>
               ) A
        WHERE ROWNUM &lt;= ( ${(pageNum -1) * pageRowCount} + ${pageRowCount} ) ) X
    WHERE X.RN &gt;= ( ${(pageNum -1) * pageRowCount} +1 )
    </select>

    <!--detail-->
    <update id="updateHit">
        UPDATE PLANNER
        SET HIT = HIT + 1
        WHERE PLAN_NUM = #{planNum}
    </update>
    <select id="detail" resultMap="planner">
        <include refid="select"/> ,
            P.DAYS, P.REGDATE, P.HIT
        <include refid="join"/>
        WHERE P.PLAN_NUM = #{planNum}
    </select>
    <select id="prev" resultType="Long">
        SELECT MAX(PLAN_NUM)
        FROM PLANNER
        WHERE PLAN_NUM &lt; #{planNum}
    </select>
    <select id="next" resultType="Long">
        SELECT MIN(PLAN_NUM)
        FROM PLANNER
        WHERE PLAN_NUM &gt; #{planNum}
    </select>

    <!--update-->
    <update id="update">
        UPDATE PLANNER
        SET TITLE = #{title}, MEMO = #{memo}
        WHERE PLAN_NUM = #{planNum}
    </update>

    <!--delete-->
    <delete id="delete">
        DELETE FROM PLANNER
        WHERE PLAN_NUM = #{planNum}
    </delete>


    <sql id="select">
        SELECT P.PLAN_NUM,
               P.L_NUM, L.K_NAME,
               P.MEM_NUM, M.MEM_NICKNAME,
               P.TITLE, P.MEMO,
               (SELECT COUNT(*) FROM HEART WHERE PLAN_NUM = P.PLAN_NUM) AS HC,
               (SELECT COUNT(*) FROM HEART WHERE PLAN_NUM = P.PLAN_NUM and MEM_NUM =#{memNum}) AS MH
    </sql>
    <sql id="join">
        FROM PLANNER P
                LEFT JOIN LOCAL L
                    ON P.L_NUM = L.L_NUM
                LEFT JOIN MEMBER M
                    ON P.MEM_NUM = M.MEM_NUM
    </sql>
    <sql id="search">
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test='myHeart'>
                AND (SELECT COUNT(*) FROM HEART WHERE PLAN_NUM = P.PLAN_NUM and MEM_NUM = #{memNum}) = 1
            </if>
            <if test='area != 0 and area != null'>
                AND P.L_NUM = #{area}
            </if>
            <if test='myPage'>
                AND P.MEM_NUM = #{memNum}
            </if>
            <if test='keyword != "" and searchType != ""'>
                <choose>
                    <when test='searchType.equals("writer")'>
                        AND MEM_NICKNAME LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test='searchType.equals("title")'>
                        AND TITLE LIKE '%' || #{keyword} || '%'
                        OR MEMO LIKE '%' || #{keyword} || '%'
                    </when>
                </choose>
            </if>
            <if test='!searchType.equals("writer") and !searchType.equals("title") and searchType != ""'>
                AND MEM_NICKNAME LIKE '%' || #{keyword} || '%'
                OR TITLE LIKE '%' || #{keyword} || '%'
                OR MEMO LIKE '%' || #{keyword} || '%'
            </if>
        </trim>
    </sql>
    <sql id="sort">
        <choose>
            <when test='sort.equals("add")'>
                ORDER BY PLAN_NUM DESC
            </when>
            <when test='sort.equals("ht")'>
                ORDER BY HC DESC , PLAN_NUM DESC
            </when>
        </choose>
    </sql>


    <resultMap id="planner" type="planner">
        <id column="PLAN_NUM" property="planNum" />
        <id column="MEM_NUM" property="memNum" />
        <id column="L_NUM" property="lnum" />
        <result column="TITLE" property="title" />
        <result column="MEMO" property="memo" />
        <result column="DAYS" property="days" />
        <result column="REGDATE" property="regdate" />
        <result column="HIT" property="hit" />
        <result column="HC" property="hc" />
        <collection property="member" ofType="member">
            <result column="MEM_NICKNAME" property="mem_nickname" />
        </collection>
        <collection property="local" ofType="local" >
            <result column="K_NAME" property="kname" />
        </collection>
        <collection property="heart" ofType="heart" >
            <result column="PLAN_NUM" property="planNum" />
            <result column="MEM_NUM" property="memNum" />
            <result column="MH" property="mh" />
        </collection>
    </resultMap>
</mapper>