<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="r_comment">

    <insert id="c_insert">
        insert into r_comment(comment_num,review_num,mem_num,L_NUM,comment_p,content)
        values(r_comment_seq.nextval,#{review_num},#{mem_num},#{lnum},0,#{content})
    </insert>

    <select id="commentList" resultMap="commentResultMap">
        select  *
        from
            (  SELECT comment_num, review_num, mem_num, L_NUM, comment_p, content, mem_nickname, com_date, com_update, com_delete,parent_comment_nickname
               FROM (

                        SELECT
                            rc.comment_num, rc.review_num, rc.mem_num, rc.L_NUM, rc.comment_p, rc.content, m.mem_nickname, rc.com_date, rc.com_delete, rc.com_update,
                            parent_member.mem_nickname AS parent_comment_nickname
                        FROM
                            r_comment rc
                                JOIN
                            member m ON rc.mem_num = m.mem_num
                                LEFT JOIN
                            r_comment parent_comment ON rc.comment_p = parent_comment.comment_num
                                LEFT JOIN
                            member parent_member ON parent_comment.mem_num = parent_member.mem_num
                        WHERE rc.review_num = #{review_num}
                    )
               WHERE
                   comment_p = comment_p
            )
                START WITH comment_p = 0
        CONNECT BY PRIOR comment_num = comment_p
        ORDER SIBLINGS BY comment_num asc
    </select>

    <update id="c_update">
        update r_comment
        set content = #{editContent},
            com_update = 1
        where comment_num = #{comment_num}
    </update>

    <update id="c_delete">
        update r_comment
        set com_delete='1'
        where comment_num = #{comment_num}
    </update>


    <insert id="c_addInsert">
        insert into r_comment(comment_num,review_num,mem_num,L_NUM,comment_p,content)
        values(r_comment_seq.nextval,#{review_num},#{mem_num},#{lnum},#{comment_num},#{addContent})
    </insert>

    <resultMap type="r_comment" id="commentResultMap">
        <id property="comment_num" column="comment_num"/>
        <result property="review_num" column="review_num"/>
        <result property="mem_num" column="mem_num"/>
        <result property="lnum" column="L_NUM"/>
        <result property="comment_p" column="comment_p"/>
        <result property="content" column="content"/>
        <result property="com_date" column="com_date"/>
        <result property="com_delete" column="com_delete"/>
        <result property="com_update" column="com_update"/>
        <result property="parent_comment_nickname" column="parent_comment_nickname"/>
        <collection property="member" ofType="member">
            <result property="mem_nickname" column="mem_nickname"/>
        </collection>
    </resultMap>

</mapper>