<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="schedule">
    <!--insert-->
    <insert id="insert" parameterType="java.util.List">
        INSERT INTO SCHEDULE
        VALUES
            <foreach item="schedule" index="index" collection="list" separator=",">
                ( #{schedule.planNum}, #{schedule.sDay}, #{schedule.sNum}, #{schedule.sPoint}, #{schedule.sMemo}, #{schedule.y}, #{schedule.x} )
            </foreach>
    </insert>

    <!--select-->
    <select id="select" resultMap="schedule">
        SELECT S_DAY, S_NUM, S_POINT, S_MEMO, Y, X
        FROM SCHEDULE
        WHERE PLAN_NUM = #{planNum}
    </select>

    <!--delete-->
    <delete id="delete">
        DELETE FROM SCHEDULE
        WHERE PLAN_NUM = #{planNum}
    </delete>

    <resultMap id="schedule" type="schedule">
        <id column="PLAN_NUM" property="planNum" />
        <result column="S_DAY" property="sDay" />
        <result column="S_NUM" property="sNum" />
        <result column="S_POINT" property="sPoint" />
        <result column="S_MEMO" property="sMemo" />
        <result column="X" property="x" />
        <result column="Y" property="y" />
    </resultMap>
</mapper>