<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="schedule">
    <!--insert-->
    <insert id="insert" parameterType="schedule">
        INSERT INTO SCHEDULE
        VALUES ( #{planNum}, #{sday}, #{snum}, #{spoint}, #{smemo}, #{y}, #{x} )
    </insert>

    <!--select-->
    <select id="select" resultMap="schedule">
        SELECT S_DAY, S_NUM, S_POINT, S_MEMO, Y, X
        FROM SCHEDULE
        WHERE PLAN_NUM = #{planNum}
        ORDER BY S_DAY ASC, S_NUM ASC
    </select>

    <!--delete-->
    <delete id="delete">
        DELETE FROM SCHEDULE
        WHERE PLAN_NUM = #{planNum}
    </delete>

    <resultMap id="schedule" type="schedule">
        <id column="PLAN_NUM" property="planNum" />
        <result column="S_DAY" property="sday" />
        <result column="S_NUM" property="snum" />
        <result column="S_POINT" property="spoint" />
        <result column="S_MEMO" property="smemo" />
        <result column="Y" property="y" />
        <result column="X" property="x" />
    </resultMap>
</mapper>