<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="trip">
    <select id="list"  parameterType="hashMap" resultMap="tripResultMap">
        select rn,
               t_num,
               t_subject,
               content,
               t_regdate,
               nvl(ratingAvg, 0) as ratingAvg
        from (
                 SELECT ROW_NUMBER() OVER (ORDER BY ratingAvg DESC NULLS LAST) AS rn,
                        t_num,
                        t_subject,
                        content,
                        t_regdate,
                        ratingAvg
                 FROM (
                          select t.t_num,
                                 t.t_subject,
                                 t.content,
                                 t.t_regdate,
                                 (SELECT AVG(rt.rating) FROM rating rt WHERE rt.t_num = t.t_num) AS ratingAvg
                          FROM trip t
                      )
             )
        where rn &lt;= 6
    </select>

    <select id="view" resultType="trip">
        select t_num, t_subject, content, t_regdate, next,prev
        from ( select t_num, t_subject,content,t_regdate,
                      lag(t_num,1,-1) over(order by t_num asc) as prev,
                      lead(t_num,1,-1) over(order by t_num asc) as next
               from trip)
        where t_num = #{t_num}
    </select>

    <update id="update">
        update trip
        set t_subject=#{t_subject},
            content=#{content}
        where t_num = #{t_num}
    </update>

    <delete id="delete">
        delete
        from trip
        where t_num = #{t_num}
    </delete>

    <select id="listPage" parameterType="hashMap" resultMap="tripResultMap">
        SELECT rn, t_num, t_subject, content, t_regdate, nvl(ratingAvg,0) as ratingAvg
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY t.t_num DESC) AS rn,
        t.t_num, t.t_subject, t.content, t.t_regdate,
        (SELECT AVG(rt.rating) FROM rating rt WHERE rt.t_num = t.t_num) AS ratingAvg
        FROM trip t
        <if test='keyword != "" and searchType != ""'>
            <choose>
                <when test='searchType.equals("t_subject")'>
                    WHERE t_subject LIKE '%' || #{keyword} || '%'
                </when>
                <when test='searchType.equals("content")'>
                    WHERE content LIKE '%' || #{keyword} || '%'
                </when>
                <when test='searchType.equals("all")'>
                    WHERE t_subject LIKE '%' || #{keyword} || '%'
                    or content LIKE '%' || #{keyword} || '%'
                </when>
            </choose>
        </if>
        <choose>
            <when test='sort.equals("add")'>
                ORDER BY t_num DESC
            </when>
            <when test='sort.equals("ratingAvg")'>
                ORDER BY ratingAvg DESC NULLS LAST , t_num DESC
            </when>
        </choose>
        )
        WHERE rn between ${(pageNum -1) * pageRowCount} +1 and ${(pageNum -1) * pageRowCount} + ${pageRowCount}
    </select>
    <select id="listPageCount" parameterType="hashMap" resultType="Integer">
        SELECT count(*)
        FROM trip
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test='keyword != "" and searchType != ""'>
                <choose>
                    <when test='searchType.equals("t_subject")'>
                        AND t_subject LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test='searchType.equals("content")'>
                        AND content LIKE '%' || #{keyword} || '%'
                    </when>
                    <when test='searchType.equals("all")'>
                        AND t_subject LIKE '%' || #{keyword} || '%'
                        or content LIKE '%' || #{keyword} || '%'
                    </when>
                </choose>
            </if>
        </trim>
    </select>

    <select id="select" resultType="trip">
        select t_num, t_subject, content, t_regdate
        from trip
        where t_num = #{t_num}
    </select>

    <resultMap id="tripResultMap" type="trip">
        <id property="t_num" column="t_num"/>
        <result property="t_subject" column="t_subject"/>
        <result property="content" column="content"/>
        <result property="t_regdate" column="t_regdate"/>
        <collection property="rating" ofType="rating">
            <result property="rating" column="rating"/>
            <result property="ratingAvg" column="ratingAvg"/>
        </collection>
    </resultMap>

</mapper>